kernels/
sampled_nets/
data/
datasets/
*.out
**/*.swp
**/*.pyc
**/_pycache__/*.pyc
./*.pyc
*.swp
/*.un~
*.tar.gz
others/
old/
data/*.np
data/*.h5
archs/
core

.sh
densenet121.sh
densenet169.sh
mobilenetv2.sh
nasnet.sh
resnet101.sh
resnet152.sh
resnet50.sh
resnetv2_101.sh
resnetv2_152.sh
resnetv2_50.sh
resnext101.sh
resnext50.sh
vgg16.sh
meta_script_msweep.sh

checkpoint.p
fs.p

batch_devel.sh
LZ_freq_1e6_7_40_40_1_relu.txt
results/*_train_functions.txt
results/index_funs*.txt
results/*.txt
results/sgd_vs_bayes/*
results/gp_samples/*
results/sigmaw_chaos/new_train/
!results/*_bounds*.txt
!results/*_nn_training_results.txt

#meta_meta_script_msweep
#meta_meta_script_msweep2
#run_experiment_msweep2
#meta_script_msweep

*.sh
!get_logPs_GP_MC.sh
!batch.sh
!batch_arc.sh
!batch_test.sh
!combine_sampled_funs.sh
